<template>
  <div class="email-setting">
    <h2>Email Layout</h2>
    <form method="post" @submit="saveEmail">
      <div class="row">
        <div class="col-md-12">
          <label for="admin-email">
            <strong>Admin Email</strong>
          </label>
          <div class="form-group">
            <label for="admin-email-to">
              To
            </label>
            <input
              :class="
                (!errors.admin || !errors.admin.to)
                  ? 'form-control'
                  : 'form-control is-invalid'
              "
              id="admin-email-to"
              name="admin_email_to"
              type="text"
              v-model="email.admin.to">
            <div
              class="invalid-feedback"
              v-if="errors.admin && errors.admin.to">
                {{ errors.admin.to }}
            </div>
          </div>
          <div class="form-group">
            <label for="admin-email-subject">
              Subject
            </label>
            <input
              :class="
                (!errors.admin || !errors.admin.subject)
                  ? 'form-control'
                  : 'form-control is-invalid'
              "
              id="admin-email-subject"
              name="admin_email_subject"
              type="text"
              v-model="email.admin.subject">
            <div
              class="invalid-feedback"
              v-if="errors.admin && errors.admin.subject">
                {{ errors.admin.subject }}
            </div>
          </div>
          <div class="form-group">
            <label for="admin-email-message">
              Message
            </label>
            <vue-editor
              :class="
                (!errors.admin || !errors.admin.message)
                  ? ''
                  : 'is-invalid'
              "
              :editorToolbar="editor_toolbar"
              id="admin-email-message"
              v-model="email.admin.message">
            </vue-editor>
            <div
              class="invalid-feedback"
              v-if="errors.admin && errors.admin.message">
                {{ errors.admin.message }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="customer-email">
            <strong>Customer Email</strong>
          </label>
          <div class="form-group">
            <label for="customer-email-to">
              To
            </label>
            <input
              :class="
                (!errors.customer || !errors.customer.to)
                  ? 'form-control'
                  : 'form-control is-invalid'
              "
              id="customer-email-to"
              name="customer_email_to"
              type="text"
              v-model="email.customer.to">
            <div
              class="invalid-feedback"
              v-if="errors.customer && errors.customer.to">
                {{ errors.customer.to }}
            </div>
          </div>
          <div class="form-group">
            <label for="customer-email-subject">
              Subject
            </label>
            <input
              :class="
                (!errors.customer || !errors.customer.subject)
                  ? 'form-control'
                  : 'form-control is-invalid'
              "
              id="customer-email-subject"
              name="customer_email_subject"
              type="text"
              v-model="email.customer.subject">
            <div
              class="invalid-feedback"
              v-if="errors.customer && errors.customer.subject">
                {{ errors.customer.subject }}
            </div>
          </div>
          <div class="form-group">
            <label for="customer-email-message">
              Message
            </label>
            <vue-editor
              :class="
                (!errors.customer || !errors.customer.message)
                  ? ''
                  : 'is-invalid'
              "
              :editorToolbar="editor_toolbar"
              id="customer-email-message"
              v-model="email.customer.message">
            </vue-editor>
            <div
              class="invalid-feedback"
              v-if="errors.customer && errors.customer.message">
                {{ errors.customer.message }}
            </div>
          </div>
          <div class="form-group">
            <input
              class="btn btn-primary"
              type="submit"
              value="Save Settings">
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'

export default {
  name: 'EmailSetting',
  components: {
    VueEditor
  },
  data: () => ({
    editor_toolbar: [
      [
        'bold',
        'italic',
        'underline',
        'strike'
      ],
      [
        { header: [1, 2, 3, 4, 5, 6] }
      ],
      [
        'link'
      ],
      [
        { list: 'ordered' },
        { list: 'bullet' }
      ]
    ],
    errors: {
      admin: {
        to: '',
        subject: '',
        message: ''
      },
      customer: {
        to: '',
        subject: '',
        message: ''
      }
    }
  }),
  methods: {
    saveEmail (event) {
      event.preventDefault()

      this.axios({
        url: '/update-email',
        method: 'post',
        data: this.email
      }).then(response => {
        this.$router.go()
      }).catch(error => {
        this.errors = error.response.data
      })
    }
  },
  props: {
    email: {
      required: true,
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
  .email-setting {
    background-color: #fff;
    border: solid 1px #ccc;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3.5%;
  }

  .email-setting h2 {
    font-size: 1.5rem;
  }
</style>
