<template>
  <div class="form-setting">
    <h2>Form Layout</h2>
    <form method="post" @submit="saveForm">
      <div class="form-group">
        <label for="form-theme">
          Theme
        </label>
        <select
          :class="
            (errors.theme === undefined || errors.theme === '')
              ? 'form-control'
              : 'form-control is-invalid'
          "
          id="form-theme"
          name="form_theme"
          v-model="form.theme">
            <option></option>
            <option
              :value="option.value"
              v-for="option in theme_options"
              :key="option.value">
                {{ option.text }}
            </option>
        </select>
        <div class="invalid-feedback">
          {{ errors.theme }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="form-terms">
            <strong>Terms &amp; Conditions</strong>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="form-terms-use">
          <input
            :class="(!errors.terms || !errors.terms.use)
              ? 'form-control'
              : 'form-control is-invalid'
            "
            id="form-terms-use"
            name="form_terms[use]"
            type="checkbox"
            v-model="form.terms.use"
            :true-value="1"
            :false-value="0">
            &nbsp;
            Use Terms &amp; Conditions
        </label>
        <div
          class="invalid-feedback"
          v-if="errors.terms && errors.terms.use">
            {{ errors.terms.use }}
        </div>
      </div>
      <div class="form-group">
          <label for="form-terms-label">
            Terms &amp; Conditions Label
          </label>
          <input
            :class="(!errors.terms || !errors.terms.label)
              ? 'form-control'
              : 'form-control is-invalid'
            "
            id="form-terms-label"
            name="form_terms[label]"
            type="text"
            v-model="form.terms.label">
          <div
            class="invalid-feedback"
            v-if="errors.terms && errors.terms.label">
              {{ errors.terms.label }}
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="btn btn-primary"
              type="submit"
              value="Save Settings">
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'FormSetting',
  data: () => ({
    errors: {
      terms: {
        use: 0,
        label: ''
      },
      theme: '',
      fields: ''
    },
    theme_options: [
      {
        text: 'Box',
        value: 'box'
      },
      {
        text: 'Flat',
        value: 'flat'
      }
    ]
  }),
  methods: {
    addField () {
      this.form.fields.push({
        label: '',
        name: '',
        type: '',
        required: ''
      })
    },
    removeField (field) {
      this.form.fields.splice(this.form.fields.indexOf(field), 1)
    },
    saveForm (event) {
      event.preventDefault()

      this.axios({
        url: '/update-form',
        method: 'post',
        data: this.form
      }).then(response => {
        this.$router.go()
      }).catch(error => {
        this.errors = error.response.data
      })
    }
  },
  props: {
    form: {
      required: true,
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
  .form-setting {
    background-color: #fff;
    border: solid 1px #ccc;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3.5%;
  }

  .form-setting h2 {
    font-size: 1.5rem;
  }

  .fields {
    background-color: #f6f6f6;
    border: solid 1px #ccc;
    height: 550px;
    overflow-y: auto;
    margin: 0.05%;
    padding: 2%;
  }

  .invalid {
    color: #dc3545;
    font-size: 0.85rem;
  }

  .row {
    margin-top: 1%;
  }
</style>
