<template>
  <div class="recaptcha-setting">
    <h2>ReCaptcha</h2>
    <form method="post" @submit="saveReCaptcha">
      <div class="form-group">
        <label for="recaptcha-site-key">
          Site Key
        </label>
        <input
          :class="
            (errors.site_key === undefined || errors.site_key === '')
              ? 'form-control'
              : 'form-control is-invalid'
          "
          id="recaptcha-site-key"
          name="recaptcha_site_key"
          type="text"
          v-model="recaptcha.site_key">
        <div class="invalid-feedback">
          {{ errors.site_key }}
        </div>
      </div>
      <div class="form-group">
        <label for="recaptcha-secret-key">
          Secret Key
        </label>
        <input
          :class="
            (errors.secret_key === undefined || errors.secret_key === '')
              ? 'form-control'
              : 'form-control is-invalid'
          "
          id="recaptcha-secret-key"
          name="recaptcha_secret_key"
          type="text"
          v-model="recaptcha.secret_key">
        <div class="invalid-feedback">
          {{ errors.secret_key }}
        </div>
      </div>
      <div class="form-group">
        <input
          class="btn btn-primary"
          type="submit"
          value="Save Settings">
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'RecaptchaSetting',
  data: () => ({
    errors: {
      site_key: '',
      secret_key: ''
    }
  }),
  methods: {
    saveReCaptcha (event) {
      event.preventDefault()

      this.axios({
        url: '/update-recaptcha',
        method: 'post',
        data: this.recaptcha
      }).then(response => {
        this.$router.go()
      }).catch(error => {
        this.errors = error.response.data
      })
    }
  },
  props: {
    recaptcha: {
      required: true,
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
  .recaptcha-setting {
    background-color: #fff;
    border: solid 1px #ccc;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3.5%;
  }

  .recaptcha-setting h2 {
    font-size: 1.5rem;
  }
</style>
