<template>
  <div class="success-setting">
    <h2>Success Page</h2>
    <form method="post" @submit="saveSuccess">
      <div class="form-group">
        <label for="success-page-url">
          Page URL
        </label>
        <input
          :class="
            (errors.url === undefined || errors.url === '')
              ? 'form-control'
              : 'form-control is-invalid'
          "
          id="success-page-url"
          name="success_page_url"
          type="text"
          v-model="success_page.url">
        <div class="invalid-feedback">
          {{ errors.url }}
        </div>
      </div>
      <div class="form-group">
        <label for="success-page-datetime">
          <input
            class="form-control"
            id="success-page-datetime"
            name="success_page_datetime"
            type="checkbox"
            v-model="success_page.datetime"
            true-value="1"
            false-value="0">
          Show Appointment Date & Time
          <div class="invalid-feedback">
            {{ errors.datetime }}
          </div>
        </label>
      </div>
      <div class="form-group">
        <input
          class="btn btn-primary"
          type="submit"
          value="Save Settings">
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'SuccessSetting',
  data: () => ({
    errors: {
      datetime: '',
      url: ''
    }
  }),
  methods: {
    saveSuccess (event) {
      event.preventDefault()

      this.axios({
        url: '/update-success',
        method: 'post',
        data: this.success_page
      }).then(response => {
        this.$router.go()
      }).catch(error => {
        this.errors = error.response.data
      })
    }
  },
  props: {
    success_page: {
      required: true,
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
  .success-setting {
    background-color: #fff;
    border: solid 1px #ccc;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3.5%;
  }

  .success-setting h2 {
    font-size: 1.5rem;
  }
</style>
