<template>
  <div class="schedule">
    <form
      :class="'theme theme-' + settings.form.theme"
      method="post"
      @submit="scheduleAppointment"
      v-if="!success">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first-name">
                First Name
              </label>
              <input
                :class="
                  (errors.first_name === undefined || errors.first_name === '')
                    ? 'form-control'
                    : 'form-control is-invalid'
                "
                id="first-name"
                name="first_name"
                type="text"
                v-model="appointment.first_name">
              <div class="invalid-feedback">
                {{ errors.first_name }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="last-name">
                Last Name
              </label>
              <input
                :class="
                  (errors.last_name === undefined || errors.last_name === '')
                    ? 'form-control'
                    : 'form-control is-invalid'
                "
                id="last-name"
                name="last_name"
                type="text"
                v-model="appointment.last_name">
              <div class="invalid-feedback">
                {{ errors.last_name }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">
                Email
              </label>
              <input
                :class="
                  (errors.email === undefined || errors.email === '')
                    ? 'form-control'
                    : 'form-control is-invalid'
                "
                id="email"
                name="email"
                type="email"
                v-model="appointment.email">
              <div class="invalid-feedback">
                {{ errors.email }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">
                Phone
              </label>
              <input
                :class="
                  (errors.phone === undefined || errors.phone === '')
                    ? 'form-control'
                    : 'form-control is-invalid'
                "
                id="phone"
                name="phone"
                type="text"
                v-model="appointment.phone">
              <div class="invalid-feedback">
                {{ errors.phone }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="message">
                Message
              </label>
              <textarea
                :class="
                  (errors.message === undefined || errors.message === '')
                    ? 'form-control'
                    : 'form-control is-invalid'
                "
                id="message"
                name="message"
                v-model="appointment.message">
              </textarea>
              <div class="invalid-feedback">
                {{ errors.message }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="date">
                Date
              </label>
              <date-picker
                :error="errors.date"
                formatDisplay="F j, Y"
                formatValue="Y-m-d"
                id="date"
                name="date"
                v-model="appointment.date">
              </date-picker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time">
                Time
              </label>
              <time-picker
                :error="errors.time"
                id="time"
                minTime="08:00"
                maxTime="20:00"
                name="time"
                v-model="appointment.time">
              </time-picker>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="form-group"
              v-if="settings.form.terms.use">
                <label for="terms">
                  <input
                    id="terms"
                    name="terms"
                    type="checkbox"
                    v-model="appointment.terms">
                  &nbsp;
                  <span v-html="settings.form.terms.label">
                  </span>
                </label>
                <div class="invalid">
                  {{ errors.terms }}
                </div>
            </div>
            <div class="form-group">
              <div class="invalid">
                {{ errors.recaptcha_response }}
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <button type="submit">
                  Schedule Appointment
                </button>
              </div>
            </div>
          </div>
        </div>
    </form>
    <success v-if="success">
    </success>
  </div>
</template>

<script>
import DatePicker from '../../components/DatePicker'
import TimePicker from '../../components/TimePicker'
import Success from '../components/Success'

export default {
  name: 'Schedule',
  components: {
    DatePicker,
    Success,
    TimePicker
  },
  data: () => ({
    appointment: {
      first_name: '',
      last_name: '',
      email: '',
      phone: '',
      message: '',
      date: '',
      time: ''
    },
    errors: {
      first_name: '',
      last_name: '',
      email: '',
      phone: '',
      message: '',
      date: '',
      time: ''
    },
    settings: {
      form: {
        terms: 0,
        theme: ''
      },
      recaptcha: {
        site_key: ''
      },
      success_page: {
        url: '',
        datetime: 0
      }
    },
    success: false
  }),
  methods: {
    scheduleAppointment (event) {
      event.preventDefault()

      if (this.settings.recaptcha.site_key !== '') {
        grecaptcha.ready(() => {
          grecaptcha.execute(this.settings.recaptcha.site_key, { action: 'schedule' })
            .then((token) => {
              this.appointment.recaptcha_response = token
              this.sendScheduleAppointment()
            })
        })
      } else {
        this.sendScheduleAppointment()
      }
    },
    sendScheduleAppointment () {
      this.axios({
        url: '/schedule-appointment',
        method: 'post',
        data: this.appointment
      }).then(response => {
        if (
          this.settings.success_page.url === undefined ||
          this.settings.success_page.url === ''
        ) {
          this.success = true
        }
      }).catch(error => {
        this.errors = error.response.data
      })
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.axios({
        url: '/get-settings',
        method: 'get'
      }).then(response => {
        vm.settings = response.data
      })

      vm.success = ((to.query.date !== undefined && to.query.time !== undefined) || to.query.success)
    })
  }
}
</script>

<style lang="scss" scoped>
  button {
    font-size: 1.5rem;
    padding: 1%;
    text-transform: capitalize;
  }

  @media screen and (max-width: 767px) {
    button {
      padding: 3%;
      width: 100%;
    }
  }
</style>

<style lang="scss">
  input {
    max-width: 100% !important;
  }

  select {
    max-width: 100% !important;
  }

  textarea {
    max-width: 100% !important;
  }

  .invalid {
    color: #dc3545;
    font-size: 1.25rem;
    margin-bottom: 1%;
  }

  .theme-flat .form-control {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #000;
    padding-left: 0;
    padding-right: 0;
  }

  .theme-flat input[type="checkbox"] {
    border: solid 1px #000 !important;
  }

  .theme-flat .form-control[readonly] {
    background-color: transparent;
  }

  .theme-flat .form-control:active,
  .theme-flat .form-control:focus,
  .theme-flat .form-control:hover {
    background-color: transparent;
    border-color: #000;
    box-shadow: none;
  }

  .theme-flat .is-invalid:active,
  .theme-flat .is-invalid:focus,
  .theme-flat .is-invalid:hover {
    background-color: transparent;
    box-shadow: none !important;
  }
</style>
