<template>
  <div class="success">
    <h1>Call Scheduled</h1>
    <h2 v-if="scheduled">{{ scheduled }}</h2>
    <p>
      Thank you for scheduling a call appointment with us.
      A reminder has been sent to your email.
      We look forward to talking with you.
    </p>
    <a class="btn btn-primary" href="/">
      Home
    </a>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Success',
  computed: {
    scheduled () {
      return (this.$route.query.date === undefined || this.$route.query.time === undefined)
        ? undefined
        : moment(this.$route.query.time, 'HH:mm').format('h:mm A') + ' On ' + moment(this.$route.query.date, 'YYYY-MM-DD').format('M/D/YYYY')
    }
  }
}
</script>

<style lang="scss" scoped>
  .success {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
  }

  .success h1 {
    font-size: 5rem;
    font-weight: 400;
  }

  .success h2 {
    font-size: 3rem;
    font-weight: 400;
  }

  .success p {
    font-size: 2.15rem;
  }
</style>
