<template>
  <div class="add-appointment">
    <div class="row">
      <div class="col-md-12">
        <router-link
          class="btn btn-primary"
          to="/">
            Back
        </router-link>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form">
          <h2>
            {{
              ($route.params.appointment === 'add')
                ? 'New Appointment'
                : 'View Appointment'
            }}
          </h2>
          <form method="post" @submit="appointmentForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first-name">
                    First Name
                  </label>
                  <input
                    :class="
                      (errors.first_name === undefined || errors.first_name === '')
                        ? 'form-control'
                        : 'form-control is-invalid'
                    "
                    id="first-name"
                    name="first_name"
                    type="text"
                    v-model="appointment.first_name">
                  <div class="invalid-feedback">
                    {{ errors.first_name }}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last-name">
                    Last Name
                  </label>
                  <input
                    :class="
                      (errors.last_name === undefined || errors.last_name === '')
                        ? 'form-control'
                        : 'form-control is-invalid'
                    "
                    id="last-name"
                    name="last_name"
                    type="text"
                    v-model="appointment.last_name">
                  <div class="invalid-feedback">
                    {{ errors.last_name }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">
                    Email
                  </label>
                  <input
                    :class="
                      (errors.email === undefined || errors.email === '')
                        ? 'form-control'
                        : 'form-control is-invalid'
                    "
                    id="email"
                    name="email"
                    type="email"
                    v-model="appointment.email">
                  <div class="invalid-feedback">
                    {{ errors.email }}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">
                    Phone
                  </label>
                  <input
                    :class="
                      (errors.phone === undefined || errors.phone === '')
                        ? 'form-control'
                        : 'form-control is-invalid'
                    "
                    id="phone"
                    name="phone"
                    type="text"
                    v-model="appointment.phone">
                  <div class="invalid-feedback">
                    {{ errors.phone }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message">
                    Message
                  </label>
                  <textarea
                    :class="
                      (errors.message === undefined || errors.message === '')
                        ? 'form-control'
                        : 'form-control is-invalid'
                    "
                    id="message"
                    name="message"
                    v-model="appointment.message">
                  </textarea>
                  <div class="invalid-feedback">
                    {{ errors.message }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">
                    Date
                  </label>
                  <date-picker
                    :error="errors.date"
                    formatDisplay="F j, Y"
                    formatValue="Y-m-d"
                    id="date"
                    name="date"
                    v-model="appointment.date">
                  </date-picker>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="time">
                    Time
                  </label>
                  <time-picker
                    :error="errors.time"
                    id="time"
                    minTime="08:00"
                    maxTime="20:00"
                    name="time"
                    v-model="appointment.time">
                  </time-picker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-group">
                    <button
                      class="btn btn-primary"
                      type="submit">
                        {{
                          ($route.params.appointment === 'add')
                            ? 'Save'
                            : 'Update'
                        }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from '../../components/DatePicker'
import TimePicker from '../../components/TimePicker'

export default {
  name: 'forms',
  components: {
    DatePicker,
    TimePicker
  },
  data: () => ({
    appointment: {
      first_name: '',
      last_name: '',
      email: '',
      phone: '',
      message: '',
      date: '',
      time: ''
    },
    errors: {
      first_name: '',
      last_name: '',
      email: '',
      phone: '',
      message: '',
      date: '',
      time: ''
    }
  }),
  methods: {
    appointmentForm (event) {
      event.preventDefault()

      this.axios({
        url: (this.$route.params.appointment === 'add')
          ? '/save-appointment'
          : '/update-appointment/' + this.$route.params.appointment,
        method: 'post',
        data: this.appointment
      }).then(response => {
        this.$router.push('/')
      }).catch(error => {
        this.errors = error.response.data
      })
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (to.params.appointment !== 'add') {
        vm.axios({
          method: 'get',
          url: '/get-appointment/' + to.params.appointment
        }).then(response => {
          vm.appointment = response.data
        })
      }
    })
  }
}
</script>

<style lang="scss">
  select.form-control {
    max-width: 100%;
  }

  .form {
    margin-top: 2%;
  }

  .form {
    background-color: #fff;
    border: solid 1px #ccc;
    margin-bottom: 2%;
    padding: 2%;
  }

  .form h2 {
    font-size: 1.5rem;
  }
</style>
