<template>
  <div class="appointments">
    <div class="row">
      <div class="col-md-12">
        <router-link
          class="btn btn-primary"
          to="/appointment/add">
            Add Appointment
        </router-link>
      </div>
    </div>
    <div class="appointment" v-for="appointment in appointments" :key="appointment.ID">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div>
              <strong>Name:</strong> {{ appointment.first_name }} {{ appointment.last_name }}
            </div>
            <div>
              <strong>Email:</strong> {{ appointment.email }}
            </div>
            <div>
              <strong>Phone:</strong> {{ appointment.phone }}
            </div>
            <div>
              <strong>Interested In:</strong> {{ appointment.interest }}
            </div>
            <div>
              <strong>Message:</strong>
              <div>
                {{ appointment.message }}
              </div>
            </div>
            <div>
              <strong>Date:</strong> {{ formatDateTime(appointment.date, 'YYYY-MM-DD', 'M/D/YYYY') }}
            </div>
            <div>
              <strong>Time:</strong> {{ formatDateTime(appointment.time, 'HH:mm', 'h:mm A') }}
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <button
              class="btn btn-block btn-primary"
              @click="viewAppointment(appointment)">
                View
            </button>
          </div>
          <div class="col-md-6">
            <button
              class="btn btn-block btn-danger"
              @click="deleteAppointment(appointment)">
                Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Appointments',
  data: () => ({
    appointments: []
  }),
  methods: {
    viewAppointment (appointment) {
      this.$router.push('/appointment/' + appointment.ID)
    },
    deleteAppointment (appointment) {
      this.axios({
        url: 'delete-appointment/' + appointment.ID,
        method: 'delete'
      }).then(response => {
        this.appointments.splice(this.appointments.indexOf(appointment), 1)
      })
    },
    formatDateTime (datetime, input, output) {
      return moment(datetime, input).format(output)
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.axios({
        url: '/get-appointments',
        method: 'get'
      }).then(response => {
        vm.appointments = response.data
      })
    })
  }
}
</script>

<style lang="scss" scoped>
  .appointments {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .appointment {
    background-color: #fff;
    border: solid 1px #ccc;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 2%;
  }
</style>
