<template>
  <div class="settings">
    <div class="row">
      <div class="col-md-6">
        <success-setting :success_page="settings.success_page">
        </success-setting>
      </div>
      <div class="col-md-6">
        <recaptcha-setting :recaptcha="settings.recaptcha">
        </recaptcha-setting>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form-setting :form="settings.form">
        </form-setting>
      </div>
      <div class="col-md-6">
        <email-setting :email="settings.email">
        </email-setting>
      </div>
    </div>
  </div>
</template>

<script>
import EmailSetting from '../components/EmailSetting'
import FormSetting from '../components/FormSetting'
import RecaptchaSetting from '../components/RecaptchaSetting'
import SuccessSetting from '../components/SuccessSetting'

export default {
  name: 'Settings',
  components: {
    EmailSetting,
    FormSetting,
    RecaptchaSetting,
    SuccessSetting
  },
  data: () => ({
    settings: {
      email: {
        admin: {
          to: '',
          subject: '',
          message: ''
        },
        customer: {
          to: '',
          subject: '',
          message: ''
        }
      },
      form: {
        terms: {
          use: false,
          label: ''
        },
        theme: 'box'
      },
      recaptcha: {
        site_key: '',
        secret_key: ''
      },
      success_page: {
        datetime: '',
        url: ''
      }
    }
  }),
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.axios({
        url: '/get-settings',
        method: 'get'
      }).then(response => {
        vm.settings = response.data
      })
    })
  }
}
</script>

<style lang="scss" scoped>
  input {
    max-width: 100% !important;
  }

  select {
    max-width: 100% !important;
  }

  textarea {
    max-width: 100% !important;
  }

  .row {
    margin-top: 1%;
  }

  .settings {
    margin-top: 2%;
  }
</style>
