@import 'bootstrap/scss/bootstrap';

.btn {
    border-radius: 0 !important;
}

input.form-control,
select.form-control,
textarea.form-control {
    border-color: #ccc;
    border-radius: 0;
}

.form-control[readonly] {
    background-color: transparent;
}

option {
    color: #212529;
}