<template>
  <div class="date-picker">
    <input
      :id="id"
      :name="name"
      ref="date_picker"
      type="text"
      :value="value"
      @change="updateDate">
    <div class="invalid-feedback">
      {{ error }}
    </div>
  </div>
</template>

<script>
import flatpickr from 'flatpickr'
import 'flatpickr/dist/themes/light.css'

export default {
  name: 'DatePicker',
  methods: {
    createDate () {
      return flatpickr(this.$refs.date_picker, {
        altFormat: (this.formatDisplay !== undefined)
          ? this.formatDisplay
          : 'F j, Y',
        altInputClass: (this.error === undefined || this.error === '')
          ? 'form-control'
          : 'form-control is-invalid',
        altInput: true,
        dateFormat: (this.formatValue !== undefined)
          ? this.formatValue
          : 'Y-m-d',
        minDate: new Date()
      })
    },
    updateDate () {
      this.$emit('input', this.$refs.date_picker.value)
    }
  },
  mounted () {
    this.createDate()
  },
  props: {
    error: {
      required: false,
      type: String
    },
    formatDisplay: {
      required: false,
      type: String
    },
    formatValue: {
      required: false,
      type: String
    },
    id: {
      required: true,
      type: String
    },
    name: {
      required: true,
      type: String
    },
    value: {
      required: false,
      type: String
    }
  },
  updated () {
    const date = this.createDate()
    date.setDate(this.value)
    date.set('altInputClass', 'form-control is-invalid')
  }
}
</script>
