<template>
  <div class="time-picker">
    <select
      :class="
        (error === undefined || error === '')
          ? 'form-control'
          : 'form-control is-invalid'
      "
      :id="id"
      :name="name"
      ref="time_picker"
      :value="value"
      @change="updateTime">
        <option
          :value="option.value"
          v-for="option in options"
          :key="option.value">
            {{ option.text }}
        </option>
    </select>
    <div class="invalid-feedback">
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimePicker',
  computed: {
    options () {
      const options = []

      const hourStart = (this.minTime !== undefined)
        ? parseInt(this.minTime.split(':')[0])
        : 1

      const hourEnd = (this.maxTime !== undefined)
        ? parseInt(this.maxTime.split(':')[0])
        : 24

      for (let hour = hourStart; hour < hourEnd; hour++) {
        for (let minute = 0; minute < 2; minute++) {
          minute = (minute === 0)
            ? '00'
            : '30'

          options.push({
            text: (hour < 12)
              ? hour + ':' + minute + ' AM'
              : (hour > 12)
                ? (hour - 12) + ':' + minute + ' PM'
                : hour + ':' + minute + ' PM',
            value: (hour < 10)
              ? '0' + hour + ':' + minute
              : hour + ':' + minute
          })
        }
      }

      return options
    }
  },
  methods: {
    updateTime () {
      this.$emit('input', this.$refs.time_picker.value)
    }
  },
  props: {
    error: {
      type: String,
      required: false
    },
    id: {
      type: String,
      required: false
    },
    maxTime: {
      type: String,
      required: false
    },
    minTime: {
      type: String,
      required: false
    },
    name: {
      type: String,
      required: false
    },
    value: {
      type: String,
      required: false
    }
  }
}
</script>
