$input-border-radius: 0;

@import 'bootstrap/scss/bootstrap';

.grecaptcha-badge {
    z-index: 999 !important;
}

.btn {
    border-radius: 0;
    font-size: 1.5rem;
    padding: 2% 4% 2% 4%;
}

.invalid-feedback {
    font-size: 1.25rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
    font-size: 1.5rem !important;
    font-weight: $input-font-weight;
    padding: $input-padding-y $input-padding-x;
    height: calc(1.5em + 0.75rem + 2px) !important;
}

textarea {
    font-size: 1.5rem !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus {
    border-color: $input-focus-border-color;
    font-size: 1.5rem;
    height: calc(1.5em + 0.75rem + 2px) !important;
}

textarea:focus {
    font-size: 1.5rem !important;
}

.form-control[readonly] {
    font-size: 1.5rem !important;
    background-color: #ffffff;
    height: calc(1.5em + 0.75rem + 2px) !important;
}