<template>
  <div id="better-appointment">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Better Appointment</h1>
        </div>
      </div>
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  h1 {
    font-size: 2.25rem !important;
    text-align: center;
  }
</style>
